{% extends 'base2.html' %}

{% block title %}{% endblock %}

{% block nav %}
<nav>
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <a href="#" data-activates="mobile-nav" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{% url 'stud-detail' %}">Profile</a></li>
                <li>
                    <a class="dropdown-button" href="#" data-activates="projects">
                        Projects<i class="material-icons right">arrow_drop_down</i>
                    </a>
                    <ul id="projects" class="dropdown-content">
                        <li><a href="{% url 'projects:stud-project-list' %}">All Projects</a></li>
                        <li><a href="{% url 'projects:stud-project_stud_rel-list' %}">Your Projects</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-button" href="#" data-activates="searches">
                        Search<i class="material-icons right">arrow_drop_down</i>
                    </a>
                    <ul id="searches" class="dropdown-content">
                        <li><a href="{% url 'projects:stud-project-search' %}">Search Projects</a></li>
                        <li><a href="{% url 'stud-fac-search' %}">Search Faculties</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
            <ul class="side-nav" id="mobile-nav">
                <li><a href="{% url 'stud-detail' %}">Profile</a></li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">
                                Projects<i class="material-icons">arrow_drop_down</i>
                            </a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="{% url 'projects:stud-project-list' %}">All Projects</a></li>
                                    <li><a href="{% url 'projects:stud-project_stud_rel-list' %}">Your Projects</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">
                                Search<i class="material-icons">arrow_drop_down</i>
                            </a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="{% url 'projects:stud-project-search' %}">Search Projects</a></li>
                                    <li><a href="{% url 'stud-fac-search' %}">Search Faculties</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
