{% extends 'base2.html' %}

{% block title %}{% endblock %}

{% block nav %}
<nav>
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>
            <a href="#" data-activates="mobile-nav" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a class="dropdown-button" href="#" data-activates="menu">
                        Menu<i class="material-icons right">arrow_drop_down</i>
                    </a>
                    <ul id="menu" class="dropdown-content">
                        <li><a href="{% url 'mess-detail' %}">Menu Details</a></li>
                        <li><a href="#">Update Menu</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'mmc-feedback-list' %}">Feedback</a></li>
                <li>
                    <a class="dropdown-button" href="#" data-activates="settings">
                        Settings<i class="material-icons right">arrow_drop_down</i>
                    </a>
                    <ul id="settings" class="dropdown-content">
                        <li><a href="#">Change Password</a></li>
                    </ul>
                </li>
                <li><a href="{% url 'mmc-logout' %}">Logout</a></li>
            </ul>
            <ul class="side-nav" id="mobile-nav">
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">
                                Menu<i class="material-icons">arrow_drop_down</i>
                            </a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="#">Menu Details</a></li>
                                    <li><a href="#">Update Menu</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><a href="{% url 'mmc-feedback-list' %}">Feedback</a></li>
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">
                                Settings<i class="material-icons">arrow_drop_down</i>
                            </a>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="#">Change Password</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <hr>
                <li><a href="{% url 'mmc-logout' %}">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
