{% extends 'base2.html' %}
{% load template_tags %}

{% block title %}{% endblock %}

{% block nav %}
<nav>
    <div class="container">
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Logo</a>

            <a href="#" data-activates="mobile-nav" class="button-collapse">
                <i class="material-icons">menu</i>
            </a>

            <ul class="right hide-on-med-and-down">
                <li>
                    <a class="dropdown-button" href="#" data-activates="mess-list">
                        Menus<i class="material-icons right">arrow_drop_down</i>
                    </a>
                    <ul id="mess-list" class="dropdown-content">
                        {% hostel_list %}
                    </ul>
                </li>
                <li><a href="{% url 'public-feedback-create' %}">Feedback</a></li>
            </ul>

            <ul class="side-nav" id="mobile-nav">
                <li class="no-padding">
                    <ul class="collapsible collapsible-accordion">
                        <li>
                            <a class="collapsible-header">
                                Menus<i class="material-icons">arrow_drop_down</i>
                            </a>
                            <div class="collapsible-body">
                                <ul>
                                    {% hostel_list %}
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>
                <li><a href="{% url 'public-feedback-create' %}">Feedback</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block end_scripts %}{% endblock %}