{% extends 'base_mmc.html' %}

{% block title %}MMC | Feedback Detail{% endblock %}

{% block breadcrumb %}
<nav>
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a class="breadcrumb">Home</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{%block main %}
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12">
                <div class="section">
                    <h4 class="header">Feedback Details</h4>
                    <div class="divider bottom10"></div>
                    <br>
                    <div class="row">
                        <div class="col s12 m12 l12">
                            <div class="row model-field">
                                <div class="col l2 m3 s4 field-name">
                                    Name
                                </div>
                                <div class="col l10 m9 s8 field-value">
                                    {{form.instance.full_name}}
                                </div>
                            </div>
                            <div class="row model-field">
                                <div class="col l2 m3 s4 field-name">
                                    Webmail
                                </div>
                                <div class="col l10 m9 s8 field-value">
                                    {{form.instance.webmail}}
                                </div>
                            </div>
                            <div class="row model-field">
                                <div class="col l2 m3 s4 field-name">
                                    Mobile
                                </div>
                                <div class="col l10 m9 s8 field-value">
                                    {{form.instance.mobile_number}}
                                </div>
                            </div>
                            <div class="row model-field">
                                <div class="col l2 m3 s4 field-name">
                                    Meal Date
                                </div>
                                <div class="col l10 m9 s8 field-value">
                                    {{form.instance.meal_date}}
                                </div>
                            </div>
                            <div class="row model-field">
                                <div class="col l2 m3 s4 field-name">
                                    Meal Type
                                </div>
                                <div class="col l10 m9 s8 field-value">
                                    {{form.instance.meal_type}}
                                </div>
                            </div>
                            <div class="row model-field">
                                <div class="col l2 m3 s4 field-name">
                                    Feedback Type
                                </div>
                                <div class="col l10 m9 s8 field-value">
                                    {{form.instance.feedback_type}}
                                </div>
                            </div>
                            <div class="row model-field">
                                <div class="col l2 m3 s4 field-name">
                                    Feedback Type
                                </div>
                                <div class="col l10 m9 s8 field-value">
                                    {{form.instance.feedback_type}}
                                </div>
                            </div>
                            <div class="row model-field">
                                <div class="col l2 m3 s4 field-name">
                                    Complaint Category
                                </div>
                                <div class="col l10 m9 s8 field-value">
                                    {{form.instance.complaint_category}}
                                </div>
                            </div>
                            <div class="row model-field">
                                <div class="col l2 m3 s4 field-name">
                                    Compaint Details
                                </div>
                                <div class="col l10 m9 s8 field-value">
                                    {{form.instance.complaint_detail}}
                                </div>
                            </div>
                            <div class="row model-field">
                                <div class="col l2 m3 s4 field-name">
                                    Feasible/ Proposed Solution
                                </div>
                                <div class="col l10 m9 s8 field-value">
                                    {{form.instance.solution}}
                                </div>
                            </div>
                            <div class="row model-field">
                                <div class="col l2 m3 s4 field-name">
                                    MMC Action
                                </div>
                                <div class="col l10 m9 s8 field-value">
                                    {{form.instance.mmc_action}}
                                </div>
                            </div>
                            <div class="row model-field">
                                <div class="col l2 m3 s4 field-name">
                                    Feedback Created On
                                </div>
                                <div class="col l10 m9 s8 field-value">
                                    {{form.instance.creation_datetime}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col l12 m12 s12">
                <div class="section">
                    <h4 class="header">Feedback Update</h4>
                    <div class="divider bottom10"></div>
                    <br>
                    <div class="row">
                        <form action="" method="post" class="col l6 m8 s12">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="row">
                                    <div class="input-field col s12">
                                        <span class="red-text">{{ field.error }}</span>
                                        {{ field }}
                                        {{ field.label_tag }}
                                        <small>{{ field.help_text }}</small>
                                    </div>
                                </div>
                            {% endfor %}
                            <button type="submit" name="_submit" class="btn">Update</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}