{% extends 'base_mmc.html' %}

{% block title %}MMC | Feedback List{% endblock %}

{% block breadcrumb %}
<nav>
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a class="breadcrumb">Home</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{%block main %}
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12">
                <div class="section">
                    <h4 class="header">Feedbacks</h4>
                    <p>
                        <strong>Note: </strong> Feedback entries highlighted in
                        <span class="green lighten-3">GREEN</span> are resolved feedbacks.
                    </p>
                    <div class="divider"></div>
                    <table class="bordered">
                        <thead>
                            <tr>
                                <th>Sr</th>
                                <th>User</th>
                                <th>Meal</th>
                                <th>Feedback Type</th>
                                <th>Complaint Category</th>
                                <th>Compaint</th>
                                <th>Solution</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for feedback in feedback_list %}
                                <tr {% if feedback.resolved %} class="green lighten-3" {% endif %}>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ feedback.full_name }}</td>
                                    <td>{{ feedback.meal_type }}</td>
                                    <td>{{ feedback.feedback_type }}</td>
                                    <td>{{ feedback.complaint_category|truncatechars:20}}</td>
                                    <td>{{ feedback.complaint_detail|truncatechars:20}}</td>
                                    <td>{{ feedback.solution }}</td>
                                    <td>
                                        <a class="btn" href="{% url 'mmc-feedback-update' feedback.id %}">
                                            Details
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
