{% extends 'base_mmc.html' %}

{% block title %}MMC | Home{% endblock %}

{% block breadcrumb %}
<nav>
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a class="breadcrumb">Home</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{%block main %}
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12">
                <div class="section">
                    <h4 class="header">Home</h4>
                    <div class="divider"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}