{% extends 'base_mmc.html' %}

{% block title %}MMC | Home{% endblock %}

{% block breadcrumb %}
<nav>
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a class="breadcrumb">Home</a>
                <a class="breadcrumb">Mess Menu</a>
                <a class="breadcrumb">Update Menu</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{%block main %}
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12">
                <div class="section">
                    <h4 class="header">Update Meal</h4>
                    <div class="divider" style="margin-bottom: 10px"></div>
                    <form action="" method="post" class="col s12">
                        {% csrf_token %}
                        {% for field in form %}
                            <div class="row">
                                <div class="input-field col s12">
                                    <span class="red-text">{{ field.errors }}</span>
                                    {{ field }}
                                    {{ field.label_tag }}
                                    <small>{{ field.help_text }}</small>
                                </div>
                            </div>
                        {% endfor %}
                        <button type="submit" name="_submit" class="btn">Update</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
{% endblock %}