{% extends 'base_mmc.html' %}

{% block title %}MMC | Mess Detail{% endblock %}

{% block breadcrumb %}
<nav>
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a class="breadcrumb" href="{% url 'mmc-home' %}">Home</a>
                <a class="breadcrumb">Mess Menu</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{%block main %}
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12">
                <h3 class="header">Mess Menu</h3>

                <!--Menu for Monday-->
                <div class="section" id="day-one">
                    <h4 class="header">Monday</h4>
                    <div class="divider"></div>
                    <div class="row day">
                        <div class="col l12 m12 s12">

                            <!--Menu for Monday Breakfast-->
                            <div class="section meal">
                                <h5 class="header">Breakfast</h5>
                                {% if mess.day_1.breakfast %}
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Menu Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_1.breakfast.menu_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Extra Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_1.breakfast.extra_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Special Dinner
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_1.breakfast.special_dinner | yesno | capfirst | capfirst }}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Price (in INR)
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_1.breakfast.price }}
                                    </div>
                                </div>
                                {% else %}
                                    <p>Menu not created for Monday Breakfast.</p>
                                {% endif %}
                                <div class="row model-field">
                                    <p>
                                        <a class="btn" href="{% url 'meal-update' 1 'breakfast' %}">
                                            Update Meal
                                        </a>
                                    </p>
                                </div>
                                <div class="divider"></div>
                            </div>

                            <!--Menu for Monday Lunch-->
                            <div class="section meal">
                                <h5 class="header">Lunch</h5>
                                {% if mess.day_1.lunch %}
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Menu Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_1.lunch.menu_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Extra Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_1.lunch.extra_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Special Dinner
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_1.lunch.special_dinner | yesno | capfirst }}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Price (in INR)
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_1.lunch.price }}
                                    </div>
                                </div>
                                {% else %}
                                    <p>Menu not created for Monday Lunch.</p>
                                {% endif %}
                                <div class="row model-field">
                                    <p>
                                        <a class="btn" href="{% url 'meal-update' 1 'lunch' %}">
                                            Update Meal
                                        </a>
                                    </p>
                                </div>
                                <div class="divider"></div>
                            </div>

                            <!--Menu for Monday Dinner-->
                            <div class="section meal">
                                <h5 class="header">Dinner</h5>
                                {% if mess.day_1.dinner %}
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Menu Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_1.dinner.menu_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Extra Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_1.dinner.extra_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Special Dinner
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_1.dinner.special_dinner | yesno | capfirst }}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Price (in INR)
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_1.dinner.price }}
                                    </div>
                                </div>
                                {% else %}
                                    <p>Menu not created for Monday Dinner.</p>
                                {% endif %}
                                <div class="row model-field">
                                    <p>
                                        <a class="btn" href="{% url 'meal-update' 1 'dinner' %}">
                                            Update Meal
                                        </a>
                                    </p>
                                </div>
                                <div class="divider"></div>
                            </div>

                        </div>
                    </div>
                </div>

                <!--Menu for Tuesday-->
                <div class="section" id="day-two">
                    <h4 class="header">Tuesday</h4>
                    <div class="divider"></div>
                    <div class="row day">
                        <div class="col l12 m12 s12">

                            <!--Menu for Tuesday Breakfast-->
                            <div class="section meal">
                                <h5 class="header">Breakfast</h5>
                                {% if mess.day_2.breakfast %}
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Menu Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_2.breakfast.menu_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Extra Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_2.breakfast.extra_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Special Dinner
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_2.breakfast.special_dinner | yesno | capfirst }}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Price (in INR)
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_2.breakfast.price }}
                                    </div>
                                </div>
                                {% else %}
                                    <p>Menu not created for Breakfast.</p>
                                {% endif %}
                                <div class="row model-field">
                                    <p>
                                        <a class="btn" href="{% url 'meal-update' 2 'breakfast' %}">
                                            Update Meal
                                        </a>
                                    </p>
                                </div>
                                <div class="divider"></div>
                            </div>

                            <!--Menu for Tuesday Lunch-->
                            <div class="section meal">
                                <h5 class="header">Lunch</h5>
                                {% if mess.day_2.lunch %}
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Menu Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_2.lunch.menu_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Extra Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_2.lunch.extra_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Special Dinner
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_2.lunch.special_dinner | yesno | capfirst }}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Price (in INR)
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_2.lunch.price }}
                                    </div>
                                </div>
                                {% else %}
                                    <p>Menu not created for Lunch.</p>
                                {% endif %}
                                <div class="row model-field">
                                    <p>
                                        <a class="btn" href="{% url 'meal-update' 2 'lunch' %}">
                                            Update Meal
                                        </a>
                                    </p>
                                </div>
                                <div class="divider"></div>
                            </div>

                            <!--Menu for Tuesday Dinner-->
                            <div class="section meal">
                                <h5 class="header">Dinner</h5>
                                {% if mess.day_2.dinner %}
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Menu Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_2.dinner.menu_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Extra Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_2.dinner.extra_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Special Dinner
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_2.dinner.special_dinner | yesno | capfirst }}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Price (in INR)
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_2.dinner.price }}
                                    </div>
                                </div>
                                {% else %}
                                    <p>Menu not created for Dinner.</p>
                                {% endif %}
                                <div class="row model-field">
                                    <p>
                                        <a class="btn" href="{% url 'meal-update' 2 'dinner' %}">
                                            Update Meal
                                        </a>
                                    </p>
                                </div>
                                <div class="divider"></div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Menu for Wednesday -->
                <div class="section" id="day-three">
                    <h4 class="header">Wednesday</h4>
                    <div class="divider"></div>
                    <div class="row day">
                        <div class="col l12 m12 s12">

                            <!--Menu for Wednesday Breakfast-->
                            <div class="section meal">
                                <h5 class="header">Breakfast</h5>
                                {% if mess.day_3.breakfast %}
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Menu Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_3.breakfast.menu_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Extra Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_3.breakfast.extra_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Special Dinner
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_3.breakfast.special_dinner | yesno | capfirst }}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Price (in INR)
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_3.breakfast.price }}
                                    </div>
                                </div>
                                {% else %}
                                    <p>Menu not created for Breakfast.</p>
                                {% endif %}
                                <div class="row model-field">
                                    <p>
                                        <a class="btn" href="{% url 'meal-update' 3 'breakfast' %}">
                                            Update Meal
                                        </a>
                                    </p>
                                </div>
                                <div class="divider"></div>
                            </div>

                            <!--Menu for Wednesday Lunch-->
                            <div class="section meal">
                                <h5 class="header">Lunch</h5>
                                {% if mess.day_3.lunch %}
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Menu Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_3.lunch.menu_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Extra Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_3.lunch.extra_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Special Dinner
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_3.lunch.special_dinner | yesno | capfirst }}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Price (in INR)
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_3.lunch.price }}
                                    </div>
                                </div>
                                {% else %}
                                    <p>Menu not created for Lunch.</p>
                                {% endif %}
                                <div class="row model-field">
                                    <p>
                                        <a class="btn" href="{% url 'meal-update' 3 'lunch' %}">
                                            Update Meal
                                        </a>
                                    </p>
                                </div>
                                <div class="divider"></div>
                            </div>

                            <!--Menu for Wednesday Dinner-->
                            <div class="section meal">
                                <h5 class="header">Dinner</h5>
                                {% if mess.day_3.dinner %}
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Menu Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_3.dinner.menu_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Extra Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_3.dinner.extra_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Special Dinner
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_3.dinner.special_dinner | yesno | capfirst }}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Price (in INR)
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_3.dinner.price }}
                                    </div>
                                </div>
                                {% else %}
                                    <p>Menu not created for Dinner.</p>
                                {% endif %}
                                <div class="row model-field">
                                    <p>
                                        <a class="btn" href="{% url 'meal-update' 3 'dinner' %}">
                                            Update Meal
                                        </a>
                                    </p>
                                </div>
                                <div class="divider"></div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Menu for Thursday -->
                <div class="section" id="day-four">
                    <h4 class="header">Thursday</h4>
                    <div class="divider"></div>
                    <div class="row day">
                        <div class="col l12 m12 s12">

                            <!--Menu for Thursday Breakfast-->
                            <div class="section meal">
                                <h5 class="header">Breakfast</h5>
                                {% if mess.day_4.breakfast %}
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Menu Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_4.breakfast.menu_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Extra Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_4.breakfast.extra_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Special Dinner
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_4.breakfast.special_dinner | yesno | capfirst }}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Price (in INR)
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_4.breakfast.price }}
                                    </div>
                                </div>
                                {% else %}
                                    <p>Menu not created for Breakfast.</p>
                                {% endif %}
                                <div class="row model-field">
                                    <p>
                                        <a class="btn" href="{% url 'meal-update' 4 'breakfast' %}">
                                            Update Meal
                                        </a>
                                    </p>
                                </div>
                                <div class="divider"></div>
                            </div>

                            <!--Menu for Thursday Lunch-->
                            <div class="section meal">
                                <h5 class="header">Lunch</h5>
                                {% if mess.day_4.lunch %}
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Menu Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_4.lunch.menu_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Extra Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_4.lunch.extra_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Special Dinner
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_4.lunch.special_dinner | yesno | capfirst }}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Price (in INR)
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_4.lunch.price }}
                                    </div>
                                </div>
                                {% else %}
                                    <p>Menu not created for Lunch.</p>
                                {% endif %}
                                <div class="row model-field">
                                    <p>
                                        <a class="btn" href="{% url 'meal-update' 4 'lunch' %}">
                                            Update Meal
                                        </a>
                                    </p>
                                </div>
                                <div class="divider"></div>
                            </div>

                            <!--Menu for Thursday Dinner-->
                            <div class="section meal">
                                <h5 class="header">Dinner</h5>
                                {% if mess.day_4.dinner %}
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Menu Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_4.dinner.menu_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Extra Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_4.dinner.extra_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Special Dinner
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_4.dinner.special_dinner | yesno | capfirst }}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Price (in INR)
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_4.dinner.price }}
                                    </div>
                                </div>
                                {% else %}
                                    <p>Menu not created for Dinner.</p>
                                {% endif %}
                                <div class="row model-field">
                                    <p>
                                        <a class="btn" href="{% url 'meal-update' 4 'dinner' %}">
                                            Update Meal
                                        </a>
                                    </p>
                                </div>
                                <div class="divider"></div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Menu for Friday -->
                <div class="section" id="day-five">
                    <h4 class="header">Friday</h4>
                    <div class="divider"></div>
                    <div class="row day">
                        <div class="col l12 m12 s12">

                            <!--Menu for Friday Breakfast-->
                            <div class="section meal">
                                <h5 class="header">Breakfast</h5>
                                {% if mess.day_5.breakfast %}
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Menu Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_5.breakfast.menu_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Extra Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_5.breakfast.extra_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Special Dinner
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_5.breakfast.special_dinner | yesno | capfirst }}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Price (in INR)
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_5.breakfast.price }}
                                    </div>
                                </div>
                                {% else %}
                                    <p>Menu not created for Breakfast.</p>
                                {% endif %}
                                <div class="row model-field">
                                    <p>
                                        <a class="btn" href="{% url 'meal-update' 5 'breakfast' %}">
                                            Update Meal
                                        </a>
                                    </p>
                                </div>
                                <div class="divider"></div>
                            </div>

                            <!--Menu for Friday Lunch-->
                            <div class="section meal">
                                <h5 class="header">Lunch</h5>
                                {% if mess.day_5.lunch %}
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Menu Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_5.lunch.menu_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Extra Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_5.lunch.extra_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Special Dinner
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_5.lunch.special_dinner | yesno | capfirst }}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Price (in INR)
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_5.lunch.price }}
                                    </div>
                                </div>
                                {% else %}
                                    <p>Menu not created for Lunch.</p>
                                {% endif %}
                                <div class="row model-field">
                                    <p>
                                        <a class="btn" href="{% url 'meal-update' 5 'lunch' %}">
                                            Update Meal
                                        </a>
                                    </p>
                                </div>
                                <div class="divider"></div>
                            </div>

                            <!--Menu for Friday Dinner-->
                            <div class="section meal">
                                <h5 class="header">Dinner</h5>
                                {% if mess.day_5.dinner %}
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Menu Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_5.dinner.menu_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Extra Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_5.dinner.extra_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Special Dinner
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_5.dinner.special_dinner | yesno | capfirst }}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Price (in INR)
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_5.dinner.price }}
                                    </div>
                                </div>
                                {% else %}
                                    <p>Menu not created for Dinner.</p>
                                {% endif %}
                                <div class="row model-field">
                                    <p>
                                        <a class="btn" href="{% url 'meal-update' 5 'dinner' %}">
                                            Update Meal
                                        </a>
                                    </p>
                                </div>
                                <div class="divider"></div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Menu for Saturday -->
                <div class="section" id="day-four">
                    <h4 class="header">Saturday</h4>
                    <div class="divider"></div>
                    <div class="row day">
                        <div class="col l12 m12 s12">

                            <!--Menu for Saturday Breakfast-->
                            <div class="section meal">
                                <h5 class="header">Breakfast</h5>
                                {% if mess.day_6.breakfast %}
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Menu Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_6.breakfast.menu_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Extra Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_6.breakfast.extra_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Special Dinner
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_6.breakfast.special_dinner | yesno | capfirst }}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Price (in INR)
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_6.breakfast.price }}
                                    </div>
                                </div>
                                {% else %}
                                    <p>Menu not created for Breakfast.</p>
                                {% endif %}
                                <div class="row model-field">
                                    <p>
                                        <a class="btn" href="{% url 'meal-update' 6 'breakfast' %}">
                                            Update Meal
                                        </a>
                                    </p>
                                </div>
                                <div class="divider"></div>
                            </div>

                            <!--Menu for Saturday Lunch-->
                            <div class="section meal">
                                <h5 class="header">Lunch</h5>
                                {% if mess.day_6.lunch %}
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Menu Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_6.lunch.menu_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Extra Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_6.lunch.extra_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Special Dinner
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_6.lunch.special_dinner | yesno | capfirst }}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Price (in INR)
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_6.lunch.price }}
                                    </div>
                                </div>
                                {% else %}
                                    <p>Menu not created for Lunch.</p>
                                {% endif %}
                                <div class="row model-field">
                                    <p>
                                        <a class="btn" href="{% url 'meal-update' 6 'lunch' %}">
                                            Update Meal
                                        </a>
                                    </p>
                                </div>
                                <div class="divider"></div>
                            </div>

                            <!--Menu for Saturday Dinner-->
                            <div class="section meal">
                                <h5 class="header">Dinner</h5>
                                {% if mess.day_6.dinner %}
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Menu Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_6.dinner.menu_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Extra Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_6.dinner.extra_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Special Dinner
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_6.dinner.special_dinner | yesno | capfirst }}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Price (in INR)
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_6.dinner.price }}
                                    </div>
                                </div>
                                {% else %}
                                    <p>Menu not created for Dinner.</p>
                                {% endif %}
                                <div class="row model-field">
                                    <p>
                                        <a class="btn" href="{% url 'meal-update' 6 'dinner' %}">
                                            Update Meal
                                        </a>
                                    </p>
                                </div>
                                <div class="divider"></div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Menu for Sunday -->
                <div class="section" id="day-four">
                    <h4 class="header">Sunday</h4>
                    <div class="divider"></div>
                    <div class="row day">
                        <div class="col l12 m12 s12">

                            <!--Menu for Sunday Breakfast-->
                            <div class="section meal">
                                <h5 class="header">Breakfast</h5>
                                {% if mess.day_7.breakfast %}
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Menu Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_7.breakfast.menu_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Extra Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_7.breakfast.extra_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Special Dinner
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_7.breakfast.special_dinner | yesno | capfirst }}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Price (in INR)
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_7.breakfast.price }}
                                    </div>
                                </div>
                                {% else %}
                                    <p>Menu not created for Breakfast.</p>
                                {% endif %}
                                <div class="row model-field">
                                    <p>
                                        <a class="btn" href="{% url 'meal-update' 7 'breakfast' %}">
                                            Update Meal
                                        </a>
                                    </p>
                                </div>
                                <div class="divider"></div>
                            </div>

                            <!--Menu for Sunday Lunch-->
                            <div class="section meal">
                                <h5 class="header">Lunch</h5>
                                {% if mess.day_7.lunch %}
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Menu Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_7.lunch.menu_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Extra Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_7.lunch.extra_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Special Dinner
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_7.lunch.special_dinner | yesno | capfirst }}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Price (in INR)
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_7.lunch.price }}
                                    </div>
                                </div>
                                {% else %}
                                    <p>Menu not created for Lunch.</p>
                                {% endif %}
                                <div class="row model-field">
                                    <p>
                                        <a class="btn" href="{% url 'meal-update' 7 'lunch' %}">
                                            Update Meal
                                        </a>
                                    </p>
                                </div>
                                <div class="divider"></div>
                            </div>

                            <!--Menu for Sunday Dinner-->
                            <div class="section meal">
                                <h5 class="header">Dinner</h5>
                                {% if mess.day_7.dinner %}
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Menu Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_7.dinner.menu_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Extra Items
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_7.dinner.extra_items}}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Special Dinner
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_7.dinner.special_dinner | yesno | capfirst }}
                                    </div>
                                </div>
                                <div class="row model-field">
                                    <div class="col l2 m3 s4 field-name">
                                        Price (in INR)
                                    </div>
                                    <div class="col l10 m9 s8 field-value">
                                        {{mess.day_7.dinner.price }}
                                    </div>
                                </div>
                                {% else %}
                                    <p>Menu not created for Dinner.</p>
                                {% endif %}
                                <div class="row model-field">
                                    <p>
                                        <a class="btn" href="{% url 'meal-update' 7 'dinner' %}">
                                            Update Meal
                                        </a>
                                    </p>
                                </div>
                                <div class="divider"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}