{% extends 'base_public.html' %}
{% load template_tags %}

{% block title %}Mess Portal{% endblock %}

{% block breadcrumb %}
<nav>
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a class="breadcrumb">Home</a>
                <a class="breadcrumb">Feedback</a>
                <a class="breadcrumb">Feedback Confirm</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{%block main %}
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12">
                <div class="section">
                    <h4 class="header">Feedback Registered!</h4>
                    <div class="divider bottom10"></div>
                    <p>Thank you for providing the feedback! </p>
                    <p>
                        You feedback has been successfully recorded and
                        {{ feedback.mess_name.hostel | capfirst }} MMC
                        will update you with the action taken.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
