{% extends 'base_public.html' %}
{% load template_tags %}

{% block title %}Mess Portal{% endblock %}

{% block breadcrumb %}
<nav>
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a class="breadcrumb">Home</a>
                <a class="breadcrumb">Feedback</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{%block main %}
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12">
                <div class="section">
                    <h4 class="header">Feedback</h4>
                    <div class="divider bottom10"></div>
                    <br>
                    <div class="row">
                        <form action="" method="post" class="col l6 m8 s12">
                            {% csrf_token %}
                            {% for field in form %}
                                <div class="row">
                                    <div class="input-field col s12">
                                        <span class="red-text">{{ field.error }}</span>
                                        {{ field }}
                                        {{ field.label_tag }}
                                        <small>{{ field.help_text }}</small>
                                    </div>
                                </div>
                            {% endfor %}
                            <button type="submit" name="_submit" class="btn">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block end_scripts %}
    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
{% endblock %}
