{% extends 'base_public.html' %}
{% load template_tags %}

{% block title %}Mess Portal{% endblock %}

{% block breadcrumb %}
<nav>
    <div class="container">
        <div class="nav-wrapper left">
            <div class="col s12">
                <a class="breadcrumb">Home</a>
            </div>
        </div>
    </div>
</nav>
{% endblock %}

{%block main %}
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12">
                <div class="section">
                    <h4 class="header">Today's Menu</h4>
                    <div class="divider"></div>
                    <table id="menu" class="responsive-table bordered highlight">
                        <thead>
                            <tr>
                                <th width="10%">Hostel</th>
                                <th width="30%">Breakfast</th>
                                <th width="30%">Lunch</th>
                                <th width="30%">Dinner</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for hostel, day in mess_day %}
                            <tr>
                                <td><b>{{ hostel }}</b></td>
                                <td>
                                    {% if day.breakfast.menu_items %}
                                        <p>
                                            <b><mark>Menu Items:</mark></b>
                                            {{ day.breakfast.menu_items | linebreaksbr }}
                                        </p>
                                    {% else %}

                                        <p><b><mark>Menu Items:</mark></b> Not updated</p>
                                    {% endif %}
                                    {% if day.breakfast.extra_items %}
                                        <p>
                                            <b><mark>Menu Items:</mark></b>
                                            {{ day.breakfast.extra_items | linebreaksbr }}
                                        </p>
                                    {% else %}
                                        <p><b><mark>Menu Items:</mark></b> Not updated</p>
                                    {% endif %}
                                    {% if day.breakfast.price %}
                                        <p>
                                            <b><mark>Price:</mark></b>
                                            INR {{ day.breakfast.price }}
                                        </p>
                                    {% else %}
                                        <p><b><mark>Price:</mark></b> Not updated</p>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if day.lunch.menu_items %}
                                        <p>
                                            <b><mark>Menu Items:</mark></b>
                                            {{ day.lunch.menu_items | linebreaksbr }}
                                        </p>
                                    {% else %}
                                        <p><b><mark>Menu Items:</mark></b> Not updated</p>
                                    {% endif %}
                                    {% if day.lunch.extra_items %}
                                        <p>
                                            <b><mark>Menu Items:</mark></b>
                                            {{ day.lunch.extra_items | linebreaksbr }}
                                        </p>
                                    {% else %}
                                        <p><b><mark>Menu Items:</mark></b> Not updated</p>
                                    {% endif %}
                                    {% if day.lunch.price %}
                                        <p>
                                            <b><mark>Price:</mark></b>
                                            INR {{ day.lunch.price }}
                                        </p>
                                    {% else %}
                                        <p><b><mark>Price:</mark></b> Not updated</p>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if day.dinner.menu_items %}
                                        <p>
                                            <b><mark>Menu Items:</mark></b>
                                            {{ day.dinner.menu_items | linebreaksbr }}
                                        </p>
                                    {% else %}
                                        <p><b><mark>Menu Items:</mark></b> Not updated</p>
                                    {% endif %}
                                    {% if day.dinner.extra_items %}
                                        <p>
                                            <b><mark>Menu Items:</mark></b>
                                            {{ day.dinner.extra_items | linebreaksbr }}
                                        </p>
                                    {% else %}
                                        <p><b><mark>Menu Items:</mark></b> Not updated</p>
                                    {% endif %}
                                    {% if day.dinner.price %}
                                        <p>
                                            <b><mark>Price:</mark></b>
                                            INR {{ day.dinner.price }}
                                        </p>
                                    {% else %}
                                        <p><b><mark>Price:</mark></b> Not updated</p>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
