.logo {
    text-align: center;
    margin: 16px;
}

#logo-container {
    height: 200px;
    margin-bottom: 32px;
}
#institute-logo {
    display: inline-block;
    height: 100%;
}
.toc-wrapper {
    position: relative;
}
.model-field {
    margin-top: 5px;
}
.field-name {
    font-weight: bold;
}